$Background-dark: hsl(198, 44%, 11%);
$Background-light: hsl(195, 35%, 19%);
$Highlight-dark: hsl(198, 39%, 28%);
$Highlight-light: hsl(187, 37%, 83%);
$Text: hsl(182, 82%, 93%);
$add-button-color: #4caf50;
$clear-button-color: #9f6060;

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* RESET END */
html,
body {
  font-size: 16px;
  font-family: "Montserrat", "sans-serif";
  color: $Text;
  width: 100%;
  min-height: 100vh;

  @include mq(768px) {
    font-size: 22px;
  }
}

body {
  padding: 20px;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
  background-color: $Background-dark;
  width: 90%;
  max-width: 700px;
  margin: 1em auto;
  border: 1px solid $Highlight-light;
  border-radius: 10px;
}

hr {
  margin: 10px 0 10px 0;
}
