.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.button {
  width: 15%;
  min-width: 48px;
  min-height: 48px;
  color: $Text;
  border: 2px solid $Highlight-light;
  border-radius: 10px;
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.button:hover,
.button:focus {
  filter: brightness(120%);
  box-shadow: 4px 2px 5px $Highlight-dark;
}
